/* @import "https://unpkg.com/normalize.css"; */

:root {
  --gap: 1rem;
  --card-width: clamp(280px, 20vw, 100vw);
  --card-aspect-ratio: 5 / 7;
  --card-height: calc(var(--card-width) * (7 / 5));
}

.gallery-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, var(--card-width));
  gap: 1rem;
  overflow: hidden;
}


.columnn {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.columnn img {
    border-radius: 10px;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out; 
  }
  

.columnn:not(:nth-of-type(3)) {
  animation: scale 1s linear both;
  animation-timeline: scroll(root);
}

.columnn:is(:nth-of-type(2), :nth-of-type(4)) {
  --origin: calc(var(--gap) * -1);
  --destination: calc(var(--card-height) * 1.5 + var(--gap));
}

.columnn:is(:nth-of-type(1), :nth-of-type(5)) {
  --origin: calc(var(--gap) * -2);
  --destination: calc(var(--card-height) * 3.4 + var(--gap));
}

@keyframes scale {
  0% {
    transform: translateY(var(--origin, 0%));
  }
  100% {
    transform: translateY(var(--destination, -50%));
  }
}
